@font-face {
    font-family: 'AstroGadget';
    src: url('AstroGadget.ttf') format('truetype');
}
.gadget {
    font-family: 'AstroGadget';
}
.head {
    margin-bottom: 0px;
    font-family: 'Vollkorn', serif;
}
.main {
    background-color: #545454;
    padding-top: 20px;
}
#editor {
    height: 150px;
    max-height: 300px;
    overflow: scroll;
}